@using Orchard.Utility.Extensions
@using Orchard.DisplayManagement.Shapes
@{
    if (String.IsNullOrWhiteSpace(Model.ContentField.FileName)) {
        return;
    }

    Style.Include("Rimango.ImageField.css");

    string name = Model.ContentField.Name;
    var url = (!String.IsNullOrWhiteSpace(Model.ContentField.FileName)) ? Url.Content(Model.ContentField.FileName) : Model.Settings.DefaultImage;

    OrchardTagBuilder imgTagBuilder = new OrchardTagBuilder("img");

    imgTagBuilder.Attributes["src"] = url;

    if (Model.ContentField.Width > 0) {
        imgTagBuilder.Attributes["width"] = Model.ContentField.Width.ToString();
    }
    if (Model.ContentField.Height > 0) {
        imgTagBuilder.Attributes["height"] = Model.ContentField.Height.ToString();
    }
    if (!String.IsNullOrWhiteSpace(Model.ContentField.AlternateText)) {
        imgTagBuilder.Attributes["alt"] = Model.ContentField.AlternateText;
    }
}
<p class="image-field image-field-summary">
    @imgTagBuilder.ToHtmlString(TagRenderMode.SelfClosing)
</p>